@font-face {
  font-family: "atlas-icon-v2";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url(78dbd77ccb1204bd290f.woff2) format('woff2');
}

@font-face {
  font-family: "atlas-icon-v3";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url(be991c119c8d312bb455.woff2) format('woff2');
}

